* {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3f3f46;
}

form {
  display: grid;
  grid-template-columns: repeat(3fr);
  gap: 10px;
  align-items: center;
}

@media screen and (min-width: 800px) {
  form {
    width: 33.33%;
    float: left;
  }
}

@media screen and (max-width: 799px) and (min-width: 400px) {
  form {
    width: 50%;
    float: left;
  }
}

@media screen and (max-width: 399px) {
  form {
    width: 100%;
    float: none;
  }
}

button {
  margin-top: 2vh;
}

input,
input[type="time"],
input[type="select"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: solid 2px;

}

select:focus {
  outline: none !important;
  border-color: purple;

}

input:focus {
  outline: none !important;
  border-color: purple;
}