* {
    margin: 0;
    padding: 0;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3f3f46;
}

.container {
    display: flex;
    width: 60vw;
    height: 50vh;
    background-color: #27272a;
}

form{
    margin-top: 20vh;
}

.input-box {
    display: flex;
    flex-direction: row;
    float: left;
    width: 15vw;
    margin: 1vh 2.5vh;
}   

.btn-group {

}