html {
    box-sizing: border-box;
    font-size: 16px;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

.headerSection {
    height: 14vh;
    background-color: #ffdb15;   
}

.headerPart {
    text-align: center;
}

.searchSection {
    height: 7vh;
    text-align: center;
}

#searchBar {
    margin-top: 2vh;
    height: 2.5vh;
    
}

.navBar {
    height: 7vh;
    border-style: solid;
    line-height: 6vh;
}

.navOptions {
    margin-left: 2vw;
    vertical-align: middle;
    text-decoration: none;
   
}

.navOptions:hover{
    transition-duration: 0.5s;
    padding: 0.5%;
    background-color: rgb(0, 0, 0, 0.5);
}

.content {
    background-color: #ebebeb;
    height: 86vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.benefits {
    height: 15vh;
    background-color: white;    
    border-radius: 1vw;
    
}

.offer, .firstOffer{
    height: 15vh;
    width: 20vw;
    float: left;
    text-align: left;
}

.firstOffer {
    border-right: solid rgb(146, 144, 144) 0.3vh;
}

.title {
    margin-top: 3.5vh;
}

.title, .subTitle {
    margin-left: 1vw;
}

.marketItens {
    display: inline-block;
    
}

.marketIten{
    overflow: hidden;
    height: 224px;
    width: 15vw;
    float: left;
    margin-left: 2.5vw;
    margin-right: 2.5vw;
    background-color: white;
    border-radius: 10px;
}

.contents {
    width: 80vw;
    margin-top: 5vh;
    display: inline-block;

}

.marketIten:hover {
    height: 330px;
    transition-duration: 0.5s;
    transition-timing-function: linear;
}

.price {
    font-size: x-large;
    color: rgb(28, 190, 28);
    margin-top: 4vh;
    text-align: left;
    margin-left: 1vw;
}

a:link {
    color: #000000;
}

a:visited {
    color: black;
}

a:active {
    color: black;
}

.form {
    width: 30vw;
    height: 40vh;
    border: 1px solid #000000;
    border-radius: 5px;
    background-color: #ffdb15;

}

.form h1 {
    margin-top: 0;
}

.inputBox label {
    display: block;
    margin-bottom: 5px;
}
.inputBox input, .inputBox select {
    width: 50%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
.button {
    width: 30%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
.button:hover {
    background-color: #0056b3;
}
